.button {
    outline: none;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent; 

    &:active {
        transform: translateY(2px);
    }
    &:focus {
        box-shadow: 0 0 0 2px $focus;
    }
}