.card {
    display: flex;
    align-items: center;
    height: 72px;
    background: $white url('../img/go.svg');
    background-position: right 16px bottom 16px;
    background-repeat: no-repeat;
    border: 1px solid $divider;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 16px;
    margin-right: 16px;

    @media (min-width: 768px) {
        margin-bottom: 16px;
        margin-right: 24px;
        width: 224px;
    }
    @media (min-width: 1366px) {
        margin-right: 32px;
        width: 240px;
    }
}