.card2 {
    display: flex;
    width: 240px;
    height: 160px;
    background: $white url('../img/go.svg');
    background-position: right 16px bottom 16px;
    background-repeat: no-repeat;
    border: 1px solid $divider;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 16px 16px;
    margin-right: 16px;

    @media (min-width: 768px) {
        margin-right: 24px;
        margin-bottom: 24px;
        width: 224px;
    }
    @media (min-width: 1366px) {
        margin-bottom:  32px;
        margin-right: 32px;
        width: 240px;
    }
}