.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $color-main;

    &__menu {
        overflow-y: hidden;
        padding-left: 16px;
        height: 46px;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 24px;

        @media (min-width: 768px) {
            margin-top: 32px;
            margin-bottom: 32px;
            padding-left: 24px;
        }
        @media (min-width: 1366px) {
            margin-top: 8px;
            margin-bottom: 10px;
            padding-left: 32px;
            flex-wrap: wrap;
            overflow: visible;
            height: auto;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding-right: 16px;
        padding-bottom: 16px;

        @media (min-width: 768px) {
            flex-direction: row;
            padding-right: 24px;
            padding-bottom: 24px;
        }
        @media (min-width: 1366px) {
            padding-right: 32px;
            padding-bottom: 32px;
        }
    }
    &__foto {
        margin: 0;

        @media (min-width: 768px) {
            border-radius: 4px;
            width: 50%;
        }
    }
}