.footer {
    flex-direction: column;
    padding: 16px;
    align-items: center;
    border-top: 1px solid $border;
    display: flex;
    margin-top: 50px;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 24px;
        padding-right: 24px;
    }
    &__text {
        flex-direction: column;
        margin-bottom: 16px;
        align-items: center;
        text-align: center;
        display: flex;
        font-family: 'TTLakes';
        font-size: 14px;
        line-height: 16px;
        color: $scroll-text;    

        @media (min-width: 768px) {
            margin-top: 32px;
            margin-bottom: 32px;
            width: 33.3%;
            align-items: flex-start;
            flex-wrap: nowrap;
        }
    }
}