.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px 24px;

    &__button-middle {
        margin-right: 16px;

        &--icon {
            margin: auto;
            width: 20px;
            height: 20px;
            background-image: url('./img/chat.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__button-left {
        margin-right: 16px;

        &--icon {
            margin: auto;
            width: 20px;
            height: 20px;
            background-image: url('./img/phone.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__button-right {
        &--icon{
            margin: auto;
            width: 20px;
            height: 20px;
            background-image: url('./img/profile.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__buttons {
        margin-bottom: 16px;
    }
    &__mail {
        margin-bottom: 12px;
    }
    &__contacts {
        margin-bottom: 40px;
    }
}