.header-slider {
    display: flex;
    align-items: center;
    border-top: 1px solid $border;
    background: linear-gradient(270deg, $color-main 0%, $white 98.61%);
    padding: 16px;
    

    @media (min-width: 768px) {
        padding-left: 24px;
    }
    @media (min-width: 1120px) {
        padding-left: 32px;
    }

    &__title {
        font-family: 'TTLakes';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: $scroll-text;
    }
}