.header {
    display: flex;
    flex-direction: column;
    background-color: $color-main;
    position: relative;

    @media (min-width: 1366px) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__nav {
        background-color: white;
        align-items: center;
        height: 88px;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid $border;

        @media (min-width: 768px) {
            padding-left: 24px;
            padding-right: 24px;
        }
        @media (min-width: 1366px) {
            display: flex;
            border-bottom: transparent;
            padding-left: 32px;
            padding-right: 32px;
            background-color: $color-main;
            align-items: flex-end;
        }
    }

    &__title {
        padding-left: 16px;

        @media (min-width: 768px) {
            padding-left: 24px;
        }
        @media (min-width: 1366px) {
            display: flex;
            padding-left: 32px;
            align-items: flex-end;
        }

        &::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            background: url('../img/highlight.svg');
            width: 4px;
            height: 40px;
        }
    }
    &__h1 {
        margin-bottom: 0;
    }
}