.header-menu {
    display: flex;
    height: 96px;
    width: auto;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 320px) {
        padding-left: 16px;
        padding-right: 16px;
    }
    @media (min-width: 360px) {
        padding-left: 24px;
        padding-right: 24px;
    }

    &__button-right {
        margin-left: auto;
        background-image: url('../img/iconFind.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    &__button-left{
        margin-right: 16px;
        background-image: url('../img/iconX.svg');
        background-position: center;
        background-repeat: no-repeat;

        @media (min-width: 1120px) {
            display: none;
        }
    }
}