.left-side {
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 810px;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 100;
    background: $white;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
}