.left-side {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 360px;
    width: 100%;
    min-height: 676px;
    position: absolute;
    background-color: $white;
    top: 0;
    left: 0;
    z-index: 100;
    background: $white;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);

    @media (min-width: 768px) {
        width: 320px;
        height: 100%;
    }
    @media (min-width: 1366px) {
        position: static;
        box-shadow: none;
    }
}