.left-side-menu {
    position: absolute;
    left: -400px;
    z-index: 10;
    transition: .3s;

    @media (min-width: 768px) {
        height: 1024px;
    }
    @media (min-width: 1366px) {
        position: relative;
        left: 0;
        top: 0;
    }
}