.left-side-menu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: .3s;
    height: 100vh;

    @media (min-width: 1366px) {
        position: relative;
        display: block;
        left: 0;
        top: 0;
        width: 320px;
    }
}