.menu {
    font-family: 'TTLakes';
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 320px;
    height: 100%;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    min-height: 676px;
    padding-top: 24px;
    background-color: $white;
    top: 0;
    right: 0;
    z-index: 100;

    -webkit-animation-name: animatemenu;
    -webkit-animation-duration: 0.4s;
    animation-name: animatemenu;
    animation-duration: 0.4s;
    

    @-webkit-keyframes animatemenu {
        from {right:-400px; opacity:0} 
        to {right:0; opacity:1}
    }
    
    @keyframes animatemenu {
        from {right:-400px; opacity:0} 
        to {right:0; opacity:1}
    }
    
    @media (min-width: 1366px) {
        padding-top: 40px;
        width: 440px;
    }

    &__close-button {
        margin-left: 16px;
        margin-bottom: 24px;
        width: 40px;
        height: 40px;
        background-image: url('../img/iconX.svg');
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width: 1366px) {
        position: absolute;
        right: 470px;
        }
    }
}