.modal-nav-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $white;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 12px;
    transition: box-shadow 0.5s linear;

    &:hover {
        box-shadow: none;
        -webkit-animation: button-pulse 0.8s 0s ease-out 1;
        -moz-animation: button-pulse 0.8s 0s ease-out 1;
        animation: button-pulse 0.8s 0s ease-out 1;
        color: $scroll-text;
    }
    &:focus::before {
        content: url('../img/highlight.svg');
        position: absolute;
        left: 0;
    }
    &:focus {
        color: $scroll-text;
        -webkit-animation: button-pulse 0.8s 0s ease-out 1;
        -moz-animation: button-pulse 0.8s 0s ease-out 1;
        animation: button-pulse 0.8s 0s ease-out 1;
    }
    &__text {
        margin-left: 24px;
        color: inherit;
    }

    @keyframes button-pulse {
        from {box-shadow: 0 0 4px 3px $border, 0 0 6px 3px $border inset;}
        to {box-shadow: 0 0 5px 2px rgba(255, 48, 26, 0), 0 0 5px 3px rgba(255, 48, 26, 0) inset;}
    }
}