.price-and-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: auto;

    @media (min-width: 768px) {
        align-items: center;
        flex-grow: 1;
    }
}