$color-main: #F8F8F8;
$circle-button: #FF3E79;
$focus: #41F6D7;
$border: #D9FFF5;
$divider: #EAEAEA;
$scroll-text: #7E7E82;
$main-button: #1B1C21;
$white: #FFFFFF;
$pagination: #DDDDDD;
$pagination-active: #B5B6BC;