.wrapp-body-height {
    @media (min-width: 320px) {
        height: 676px;
        overflow: hidden;
        position: fixed;
        opacity: 0.1;
        width: 100%;
    }
    @media (min-width: 768px) {
        height: 1024px;
    }
}